absl-py==0.6.0
astor==0.7.1
bleach==1.5.0
boto3==1.9.31
botocore==1.12.31
Click==7.0
docutils==0.14
Flask==1.0.2
Flask-Uploads==0.2.1
gast==0.2.0
grpcio==1.16.0
html5lib==0.9999999
ItsDangerous==1.0.0
Jinja2==2.10
jmespath==0.9.3
Markdown==3.0.1
MarkupSafe==1.0
numpy==1.22.0
protobuf==3.6.1
python-dateutil==2.7.3
s3transfer==0.1.13
six==1.11.0
tensorboard==1.7.0
tensorflow==1.7.0
termcolor==1.1.0
urllib3==1.24
virtualenv==16.0.0
Werkzeug==0.14.1

